<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gym Management - Member Profile</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen">
  <main class="container m-auto flex-grow h-max">
    <h1 class="text-4xl p-5 bg-gray-100 border border-slate-900 mt-20 rounded-md font-bold">Gym Member Profile</h1>

    <!--    Member Details-->
    <div class="grid grid-cols-4 gap-x-8 gap-y-4 my-8">
      <div class="px-8 py-4 rounded-md border-slate-900 border bg-gray-100 hover:bg-white transition-all duration-150">
        <p class="font-bold text-lg">Member ID</p>
        <p>{{ member }}</p>
      </div>
      <div class="px-8 py-4 rounded-md border-slate-900 border bg-gray-100 hover:bg-white transition-all duration-150">
        <p class="font-bold text-lg">Member Name</p>
        <p>{{ member_detail.full_name }}</p>
      </div>
      <div class="px-8 py-4 rounded-md border-slate-900 border bg-gray-100 hover:bg-white transition-all duration-150">
        <p class="font-bold text-lg">Email</p>
        <p>{{ member_detail.email }}</p>
      </div>
      <div class="px-8 py-4 rounded-md border-slate-900 border bg-gray-100 hover:bg-white transition-all duration-150">
        <p class="font-bold text-lg">Phone</p>
        <p>{{ member_detail.phone }}</p>
      </div>
      <div class="px-8 py-4 rounded-md border-slate-900 border bg-gray-100 hover:bg-white transition-all duration-150">
        <p class="font-bold text-lg">Address</p>
        <p>{{ member_detail.address }}</p>
      </div>
      <div class="px-8 py-4 rounded-md border-slate-900 border bg-gray-100 hover:bg-white transition-all duration-150">
        <p class="font-bold text-lg">Membership Days Remaining</p>
        <p>{{ membership_remaining_days }}</p>
      </div>
      <div class="px-8 py-4 rounded-md border-slate-900 border bg-gray-100 hover:bg-white transition-all duration-150">
        <p class="font-bold text-lg">Training Days Remaining</p>
        <p>{{ training_remaining_days }}</p>
      </div>
    </div>

    <div class="flex justify-between mx-auto w-full">

      <!--    Membership Details-->
      <div class="flex flex-col gap-2 bg-gray-100 border border-slate-900 p-4 rounded">
        <h4 class="mb-1 py-1 font-bold">Current & Past Membership Plans</h4>
        <div class="flex gap-4 px-2 py-1 bg-indigo-600 text-white font-bold rounded-md">
          <p class="px-2 flex-grow py-1 text-wrap w-[9rem]">Membership No</p>
          <p class="px-2 py-1 text-wrap w-[9rem]">Plan</p>
          <p class="px-2 py-1 text-wrap w-[7rem]">Plan Fee</p>
          <p class="px-2 py-1 text-wrap w-[7rem]">Start Date</p>
          <p class="px-2 py-1 text-wrap w-[7rem]">End Date</p>
        </div>
        <div class="flex gap-4 px-2 py-1">
          {% for record in memberships %}
            <p class="px-2 flex-grow py-1 text-wrap w-[9rem]">{{ record.name }}</p>
            <p class="px-2 py-1 text-wrap w-[9rem]">{{ record.gym_plan }}</p>
            <p class="px-2 py-1 text-wrap w-[7rem]">{{ record.plan_fee }}</p>
            <p class="px-2 py-1 text-wrap w-[7rem]">{{ record.start_date }}</p>
            <p class="px-2 py-1 text-wrap w-[7rem]">{{ record.end_date }}</p>
          {% endfor %}
        </div>
      </div>

      <!--      Trainer Subscriptions-->
      <div class="flex flex-col gap-2 bg-gray-100 border border-slate-900 p-4 rounded">
        <h4 class="mb-1 px-2 py-1 font-bold">Current & Past Training Subscriptions</h4>
        <div class="flex gap-4 px-2 py-1 bg-blue-500 text-white font-bold rounded-md">
          <p class="px-2 flex-grow py-1 text-wrap w-[9rem]">Subscription ID</p>
          <p class="px-2 py-1 text-wrap w-[9rem]">Trainer</p>
          <p class="px-2 py-1 text-wrap w-[7rem]">Fee</p>
          <p class="px-2 py-1 text-wrap w-[7rem]">Start Date</p>
          <p class="px-2 py-1 text-wrap w-[7rem]">End Date</p>
        </div>
        <div class="flex gap-4 px-2 py-1">
          {% for record in trainer_subscriptions %}
          <p class="px-2 flex-grow py-1 text-wrap w-[9rem]">{{ record.name }}</p>
          <p class="px-2 py-1 text-wrap w-[9rem]">{{ frappe.db.get_value('Gym Trainer', record.gym_trainer, 'full_name') }}</p>
          <p class="px-2 py-1 text-wrap w-[7rem]">{{ record.trainer_fee }}</p>
          <p class="px-2 py-1 text-wrap w-[7rem]">{{ record.start_date }}</p>
          <p class="px-2 py-1 text-wrap w-[7rem]">{{ record.end_date }}</p>
          {% endfor %}
        </div>
      </div>

    </div>

  </main>

</body>
</html>
